.professionalsContainer {
    background-image: url(../../assets/entrenadores.jpg);
    width: 100%;
      height: 100vh;
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat;
}

.professionalCardContainer {
    padding: 3rem 9rem 0 9rem;
    display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  grid-gap: 10px; 
}